// color
$black: #000;
$black-60: rgba($black, .6);
$black-30: rgba($black, .3);
$white: #fff;
$white-30: rgba($white, .3);
$white-90: rgba($white, .9);
$brown: #444;
$brown-30: rgba($brown, .3);
$aqua: #63d1ba;
$aqua-light: #56c3b2;
$grey: #f1f1f1;
$light-grey: #ececec;
$dark-grey: #e5e5e5;
$index-header-bg: #fafafa;
$header-gradient: linear-gradient(0deg, rgb(249, 249, 249) 0%, rgb(251, 251, 251) 100%);
$decoration-color: #35a999;
$invalid-color: #f0b1b1;
// WIDTH
$desktop: 1150px;
$tablet: 768px;
$mobile-only: 767px;

// @MEDIA
$min-width-tablet: "(min-width: $tablet)";
$min-width-desktop: "(min-width: $desktop)";
$mobile-width-only: "(max-width: $mobile-only)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

// GLOBAL
$primary-color: $black;
$primary-color-60: $black-60;
$primary-color-30: $black-30;

$secondary-color: $brown;
$secondary-color-30: $brown-30;

$font: opensans, Arial, sans-serif;

// TEXT COLOR
$text-primary: $primary-color;
$text-secondary: $secondary-color;
