.container {
  position: relative;

  width: 320px;
  margin: auto;
  padding: 0 30px;
  @media #{$min-width-tablet} {
    width: 768px;
    padding: 0 50px;
  }
  @media #{$min-width-desktop} {
    width: 1150px;
  }
  &.container--no-padding {
    padding: 0;
  }
}
