.page-header {
  position: relative;

  min-height: 255px;
  margin-bottom: 30px;
  @media #{$min-width-tablet} {
    margin-bottom: 84px;
    &::after {
      @include bg-zigzag;
    }
  }
  @media #{$min-width-desktop} {
    margin-bottom: 132px;
  }
  &.page-header--form {
    margin-bottom: 25px;
  }
  &.page-header--index {
    margin-bottom: 28px;
    @media #{$min-width-tablet} {
      position: relative;

      margin-bottom: 45px;
    }
  }
}

.page-header__top {
  position: relative;

  display: flex;

  min-height: 80px;

  align-items: center;
  justify-content: center;
  @media #{$mobile-width-only} {
    width: 320px;
    margin: auto;
  }
  @media #{$min-width-tablet} {
    display: flex;
    flex-direction: column;

    min-height: 88px;

    background: $index-header-bg;

    align-items: flex-start;
  }
}

.page-header__bottom {
  background: $header-gradient;
  @media #{$mobile-width-only} {
    border-top: 1px solid $light-grey;
  }
  @media #{$min-width-tablet} {
  }
}
