.page-footer {
  padding: 22px 0;

  background: $grey;
  @media #{$min-width-tablet} {
    padding: 48px 0 11px;
  }
  @media #{$min-width-desktop} {
    padding: 50px 0 14px;
  }
}

.page-footer__inner {
  @media #{$min-width-tablet} {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
  }
}
