.about {
  font-weight: bold;

  margin-bottom: 50px;
  padding-top: 23px;
  @media #{$min-width-tablet} {
    padding-top: 51px;
  }
  @media #{$min-width-desktop} {
    padding-top: 65px;
    padding-left: 225px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 3px;

  @include font(25px, 30px);
  @media #{$min-width-tablet} {
    margin-bottom: 21px;

    @include font(43px, 50px);
  }
  @media #{$min-width-desktop} {
    @include font(53px, 57px);
  }
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;
  @media #{$min-width-tablet} {
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;
  }
  @media #{$min-width-desktop} {
    width: 700px;
  }
}

.about__item {
  position: relative;

  padding-top: 81px;
  @media #{$min-width-tablet} {
    width: 50%;
    margin-bottom: 26px;
    &.about__item--count-1,
    &.about__item--count-4 {
      order: 1;
    }
    &.about__item--count-2 {
      order: 2;
    }
    &.about__item--count-5 {
      order: 3;
    }
    &.about__item--count-3,
    &.about__item--count-6 {
      order: 4;
    }
  }
}

.about__item .icon {
  position: absolute;
  top: 26px;
  left: 0;

  color: $aqua;
  &.icon--feature-3 {
    top: 30px;
    @media #{$min-width-tablet} {
      top: 34px;
      left: 2px;
    }
  }
  &.icon--feature-4 {
    top: 28px;
    left: -1px;
  }
  &.icon--feature-5 {
    top: 28px;
    left: -10px;
    @media #{$min-width-tablet} {
      top: 32px;
      left: -6px;
    }
  }
  &.icon--feature-6 {
    @media #{$min-width-tablet} {
      top: 30px;
      left: 1px;
    }
  }
}

.about__description {
  color: $text-primary;

  @include font(17px, 21px);
  @media #{$min-width-tablet} {
    @include font(20px, 24px);
  }
}
