.callback-form {
  padding-bottom: 55px;
  @media #{$min-width-tablet} {
    padding-bottom: 32px;
  }
  @media #{$min-width-desktop} {
    padding-bottom: 26px;
  }
}

.callback-form__description {
  margin-bottom: 23px;

  color: $text-secondary;

  @include font(13px, 24px);
  @media #{$min-width-tablet} {
    margin-bottom: 0;
    padding: 20px 50px 5px;

    @include font(17px, 30px);
  }
  @media #{$min-width-desktop} {
    width: 700px;
    padding: 0 0 5px;
  }
}

.callback-form__postscript {
  color: $text-secondary;

  @include font(14px, 18px);
}

.callback-form__group {
  margin: 0;
  padding: 0 0 20px;

  border: none;
  @media #{$min-width-tablet} {
    padding: 50px 0;
  }
  &.callback-form__group--checkbox {
    padding-bottom: 10px;
    @media #{$min-width-tablet} {
      padding: 62px 0 37px;

      background: $grey;
    }
    @media #{$min-width-desktop} {
      padding-bottom: 40px;
    }
  }
  &.callback-form__group--input {
    padding-bottom: 18px;
    @media #{$min-width-tablet} {
      padding: 48px 0 43px;
    }
  }
  &.callback-form__group--telephone {
    padding-bottom: 25px;
    @media #{$min-width-tablet} {
      padding: 53px 0 8px;

      background: $grey;
    }
  }
  &.callback-form__group--email {
    padding-bottom: 13px;
    @media #{$min-width-tablet} {
      padding: 0 0 43px;

      background: $grey;
    }
  }
  &.callback-form__group--textarea {
    padding-bottom: 13px;
    @media #{$min-width-tablet} {
      padding: 62px 0 45px;
    }
    @media #{$min-width-desktop} {
      padding-bottom: 83px;
    }
  }
}

.callback-form__title {
  font-weight: bold;

  display: block;

  margin-bottom: 25px;

  text-transform: uppercase;

  color: $aqua;

  @include font(17px, 16px);
  &.callback-form__title--textarea {
    margin-bottom: 35px;
  }
  @media #{$mobile-width-only} {
    position: relative;
    z-index: 10;

    padding-right: 20px;

    background: $white;
  }
  @media #{$min-width-tablet} {
    width: 25%;
    padding-top: 19px;
  }
  @media #{$min-width-desktop} {
    width: 175px;
    padding-right: 10px;

    text-align: center;
  }
  &.callback-form__title--single {
    margin-bottom: 8px;
  }
}

.callback-form__postscript {
  margin-bottom: 20px;
  @media #{$min-width-tablet} {
    display: none;
  }
}

.callback-form__postscript-tablet {
  display: none;
  @media #{$min-width-tablet} {
    display: block;

    @include font(17px, 30px);
  }
}

.callback-form__checkbox {
  @media #{$min-width-tablet} {
    width: 240px;
  }
}

.callback-form__flex {
  @media #{$mobile-width-only} {
    &::before {
      position: absolute;
      z-index: 1;
      top: 6px;
      right: 30px;

      display: block;

      width: 200px;

      content: '';

      border-top: 1px solid $aqua;
    }
  }
  @media #{$min-width-tablet} {
    display: flex;
  }
  &.callback-form__flex--telephone,
  &.callback-form__flex--email,
  &.callback-form__flex--textarea {
    @media #{$min-width-tablet} {
      align-items: baseline;
    }
  }
  &.callback-form__flex--form-bottom {
    @media #{$min-width-tablet} {
      justify-content: space-between;
      align-items: baseline;
    }
    @media #{$min-width-desktop} {
      padding: 0;
    }
  }
  &.callback-form__flex--center {
    &:before {
      border: none;
    }
    @media #{$min-width-desktop} {
      width: 700px;
    }
  }
}

.callback-form__flex-inner {
  @media #{$min-width-tablet} {
    display: flex;

    width: 75%;

    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media #{$min-width-desktop} {
    width: 700px;
  }
  &.callback-form__flex-inner--input {
    @media #{$min-width-desktop} {
      width: 83%;

      justify-content: flex-start;
    }
  }
}
