.catalog {
  display: flex;
  flex-direction: column;
  @media #{$min-width-desktop} {
    flex-direction: row;

    margin-bottom: 4px;
    margin-left: -50px;

    flex-wrap: wrap;
  }
}

.catalog__item {
  @media #{$min-width-desktop} {
    margin-left: 51px;
  }
}
