.communication {
  margin: 0;
  padding: 0;

  list-style: none;
  @media #{$min-width-tablet} {
    display: flex;

    width: 100%;
    margin-bottom: 25px;

    flex-wrap: wrap;
  }
  @media #{$min-width-desktop} {
    flex-direction: column;

    margin-bottom: 50px;
  }
}

.communication__item {
  display: flex;

  margin-bottom: 30px;

  align-items: baseline;
  @media #{$min-width-tablet} {
    width: 50%;
  }
  @media #{$min-width-desktop} {
    width: 100%;
  }
}

.communication__title {
  width: 75px;
  margin-right: 3px;

  color: $text-secondary;

  @include font(15px, 30px);
  @media #{$min-width-tablet} {
    font-size: 17px;
  }
}

.communication__link {
  display: inline-block;

  text-decoration: none;

  color: $text-secondary;
  border-bottom: 1px solid $aqua;

  @include font(15px, 30px);
  &:hover {
    color: $aqua;
  }
  &:active {
    opacity: .3;
    color: $aqua;
  }
  @media #{$min-width-tablet} {
    font-size: 17px;
  }
}

.communication__description {
  color: $text-secondary;

  @include font(15px, 30px);
  @media #{$min-width-tablet} {
    font-size: 17px;
  }
}
