.contacts {
  position: relative;

  padding-top: 47px;
  padding-bottom: 40px;
  &::before {
    top: 23px;

    @include bg-line;
    @media #{$mobile-width-only} {
      background-position-y: 100%;
    }
  }
  @media #{$min-width-tablet} {
    padding-top: 91px;
  }
  @media #{$min-width-desktop} {
    padding-top: 99px;
  }
}

.contacts__wrapper {
  @media #{$min-width-tablet} {
    position: relative;

    display: flex;

    flex-wrap: wrap;
  }
  @media #{$min-width-desktop} {
    padding: 73px 525px 0 175px;
  }
}

.contacts__wrapper .icon {
  @media #{$mobile-width-only} {
    display: none;
  }
  @media #{$min-width-tablet} {
    width: 52px;
    margin-left: auto;
  }
  @media #{$min-width-desktop} {
    position: absolute;
    top: 80px;
    left: 60px;
  }
}

.contacts__title {
  font-weight: bold;

  margin: 0;
  margin-bottom: 26px;

  @include font(18px, 30px);
  @media #{$min-width-tablet} {
    width: 50%;
    margin-bottom: 47px;
    padding-top: 15px;

    @include font(43px, 50px);
  }
  @media #{$min-width-desktop} {
    @include font(53px, 57px);
  }
}

.contacts__wrap {
  @media #{$min-width-desktop} {
    position: relative;

    width: 1150px;
    margin: auto;
    padding-right: 575px;
  }
}
