.input {
  display: flex;
  flex-direction: column;

  margin-bottom: 17px;
  padding-top: 7px;

  @media #{$min-width-tablet} {
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 24px;
    padding-top: 0;
  }
  &.input--tel {
    margin-bottom: 15px;
    padding-top: 0;
  }
  &.input--email {
    padding-top: 0;
  }
}

.input__title {
  font-weight: bold;

  @include font(17px, 18px);
  @media #{$min-width-tablet} {
    font-size: 19px;
    margin-right: 25px;
  }
}

.input__control {
  font-family: $font;

  padding: 14px 0;

  color: $text-secondary;
  border: none;
  border-bottom: 2px solid $primary-color;
  background: none;

  @include font(17px, 21px);
  &::placeholder {
    transition: text-indent .3s linear;

    opacity: .3;
    color: $text-secondary;
  }
  &:hover {
    border-color: $aqua;
  }
  &:focus {
    color: $text-secondary;
    border-color: $aqua;
    outline: none;
    &::placeholder {
      transition: text-indent .3s linear;
      text-indent: 500px;
    }
  }

  @media #{$min-width-tablet} {
    flex-grow: 1;
    font-size: 19px;
    padding: 15px 15px 14px;
  }
}
