.logo {
  text-decoration: none;
  &:hover {
    opacity: .6;
  }
  &:active {
    opacity: .3;
  }
  &.logo--footer {
    color: $text-primary;
    @media #{$mobile-width-only} {
      display: none;
    }
    &:hover {
      opacity: 1;
      color: $aqua;
    }
    &:active {
      opacity: .3;
    }
  }
}

.logo__img {
  @media #{$min-width-tablet} {
    width: 112px;
    height: 46px;
  }
  @media #{$min-width-tablet} {
    width: 148px;
    height: 73px;
  }
}
