.main-nav {
  position: relative;
  z-index: 5;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  margin: auto;
  &.main-nav--nojs {
    height: auto;
  }
  @media #{$mobile-width-only} {
    width: 320px;
    height: 80px;
  }
  @media #{$min-width-tablet} {
    flex-direction: row;

    width: 768px;
    margin: auto;

    flex-wrap: wrap;
  }
  @media #{$min-width-desktop} {
    width: 1150px;
  }
  &.main-nav--visible {
    overflow: visible;
  }
}

.main-nav__open.hamburger {
  position: absolute;
  z-index: 5;
  top: 32px;
  right: 32px;
}

.main-nav__group {
  &.main-nav__group--common {
    @media #{$min-width-tablet} {
      display: flex;

      width: 50%;
      padding-left: 50px;

      border-top: 1px solid $light-grey;

      order: 3;
    }
    @media #{$min-width-desktop} {
      width: auto;

      border: none;
      background: $white;

      order: 0;
    }
  }
  &.main-nav__group--user {
    @media #{$min-width-tablet} {
      margin-left: auto;
      padding-right: 50px;

      background: $white;

      order: 2;
    }
    @media #{$min-width-desktop} {
      width: auto;
      margin-left: auto;
    }
  }
  &.main-nav__group--services {
    @media #{$min-width-tablet} {
      width: 50%;
      padding-top: 20px;
      padding-right: 50px;

      text-align: right;

      border-top: 1px solid $light-grey;

      order: 4;
    }
    @media #{$min-width-desktop} {
      display: flex;

      width: 100%;
      padding: 20px 50px;

      flex-wrap: wrap;
    }
  }
  &.main-nav__group--logo {
    display: flex;

    min-height: 80px;

    justify-content: center;
    align-items: center;
    @media #{$min-width-tablet} {
      padding: 6px 50px 0;

      background: $white;

      justify-content: flex-start;
      order: 1;
      flex-grow: 1;
    }
    @media #{$min-width-desktop} {
      width: auto;
      margin: auto;
      padding: 8px 0 0 8px;
    }
  }
}
