.menu {
  font-weight: bold;

  @include font(19px, 24px);
  @media #{$min-width-tablet} {
    display: flex;

    width: 668px;
    margin: auto;

    @include font(20px, 30px);
  }
  @media #{$min-width-desktop} {
    width: 1050px;
  }
}

.menu__link {
  position: relative;

  display: flex;

  min-height: 103px;
  padding: 25px 30px 15px 30px;

  text-decoration: none;

  color: $white;

  justify-content: space-between;
  @media #{$min-width-tablet} {
    width: 50%;
    min-height: 121px;
    padding: 28px 35px 30px 35px;
  }
  @media #{$min-width-desktop} {
    padding: 27px 35px 30px 35px;
  }
  &:hover {
    transform: translateY(-5px);
  }
  &:active {
    color: $white-30;
  }
  &--aqua {
    background: $aqua;
    &:hover {
      box-shadow: 0 5px $aqua;
    }
  }
  &--light-aqua {
    background: $aqua-light;
    &:hover {
      box-shadow: 0 5px $aqua-light;
    }
  }
}

.menu__link .icon {
  opacity: .5;
  color: $decoration-color;
}

.menu__text {
  width: 130px;
}

.menu__link:hover .icon {
  opacity: .7;
}

.menu__link:active .icon {
  opacity: .3;
}
