.modal-popup {
  padding-bottom: 45px;

  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
  background: $white;
  box-shadow: 0 6px 5px $dark-grey;
  @media #{$min-width-tablet} {
    width: 565px;
    margin: auto;

    border: 1px solid $dark-grey;
  }
}

.modal-popup__title {
  font-weight: bold;

  margin: 0;
  padding: 30px 30px 13px;

  text-align: center;
  text-transform: uppercase;

  @include font(25px, 30px);
  @media #{$min-width-tablet} {
    @include font(30px, 57px);
  }
}

.modal-popup__text {
  display: block;

  margin-bottom: 23px;

  text-align: center;

  color: $text-secondary;

  @include font(15px, 30px);
  @media #{$min-width-tablet} {
    font-size: 17px;
  }
}
