.nav-list {
  font-weight: bold;

  margin: 0;
  padding: 0;

  list-style: none;

  display: none;
  @include font(17px, 24px);
}

.nav-list__link {
  text-decoration: none;

  color: $text-primary;
  &:hover {
    color: $primary-color-60;
  }
  &:active {
    color: $primary-color-30;
  }
}
