.presentation {
  position: relative;

  padding-bottom: 47px;
  &::after {
    @include bg-line;
  }
  @media #{$min-width-tablet} {
    min-height: 530px;
    padding-bottom: 68px;
  }
  @media #{$min-width-desktop} {
    min-height: 750px;
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.presentation__top {
  @media #{$min-width-tablet} {
    display: flex;

    margin-bottom: 48px;

    justify-content: space-between;
    align-items: flex-start;
  }
  @media #{$min-width-desktop} {
    flex-direction: row-reverse;

    margin-bottom: 45px;

    justify-content: flex-end;
  }
}

.presentation__title {
  font-weight: bold;

  z-index: 2;

  margin: 0;
  margin-bottom: 5px;

  @include font(25px, 30px);
  @media #{$min-width-tablet} {
    margin-bottom: 0;

    @include font(43px, 50px);
  }
  @media #{$min-width-desktop} {
    @include font(53px, 53px);
  }
}

.presentation__text {
  font-weight: bold;

  display: block;

  margin-bottom: 25px;

  text-transform: uppercase;

  color: $aqua;

  @include font(17px, 16px);
  @media #{$min-width-tablet} {
    width: 120px;
    margin: 0;
    padding-top: 13px;

    text-align: center;
  }
  @media #{$min-width-desktop} {
    width: 175px;
    padding: 13px 35px 13px 25px;
  }
}

.presentation__content {
  @media #{$min-width-tablet} {
    position: relative;

    padding-right: 375px;
  }
  @media #{$min-width-desktop} {
    padding-right: 580px;
    padding-left: 175px;
  }
}

.presentation__description {
  margin-bottom: 27px;

  color: $text-secondary;

  @include font(15px, 24px);
  @media #{$min-width-tablet} {
    margin-bottom: 42px;

    @include font(17px, 30px);
  }
  @media #{$min-width-desktop} {
    margin-top: 0;
    margin-bottom: 57px;
  }
}

.presentation__img {
  margin-bottom: 25px;

  background: $light-grey;
  @media #{$min-width-tablet} {
    position: absolute;
    top: 5px;
    right: 0;

    width: 334px;
    height: 404px;
  }
  @media #{$min-width-desktop} {
    z-index: 0;
    top: -159px;

    width: 525px;
    height: 635px;
  }
}

.presentation__price {
  font-weight: bold;

  display: block;

  margin-bottom: 25px;

  text-align: center;

  color: $text-secondary;

  @include font(17px, 24px);
  @media #{$min-width-tablet} {
    font-size: 20px;

    margin-bottom: 35px;
  }
}
