.process {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-bottom: 33px;

  border: 1px solid $light-grey;
  @media #{$min-width-tablet} {
    padding-bottom: 46px;
  }
  @media #{$min-width-desktop} {
    min-height: 455px;
    padding-bottom: 35px;
    padding-left: 680px;

    flex-wrap: wrap;
  }
  &:hover {
    box-shadow: 0 3px 8px $dark-grey;
  }
  &:active {
    box-shadow: 0 1px 5px $dark-grey;
  }
}

.process__wrap {
  position: relative;

  padding-left: 89px;
  @media #{$min-width-tablet} {
    padding-left: 105px;
  }
  @media #{$min-width-desktop} {
    padding-top: 95px;
    padding-left: 0;
  }
}

.process__wrap .icon {
  position: absolute;
  top: 30px;
  left: 33px;

  color: $aqua;
  @media #{$min-width-tablet} {
    top: 10px;
    left: 40px;
  }
  @media #{$min-width-desktop} {
    top: 41px;
    left: 80px;
  }
}

.process__title {
  font-weight: bold;

  margin: 0;
  padding: 23px 25px 25px 0;

  @include font(17px, 24px);
  @media #{$min-width-tablet} {
    font-size: 20px;

    padding: 15px 30px 30px 0;
  }
  @media #{$min-width-desktop} {
    width: 365px;
    margin-bottom: 33px;
    padding: 0 78px 0;
  }
}

.process__wrapper-inner {
  position: relative;

  margin-bottom: 25px;

  cursor: pointer;
  @media #{$min-width-tablet} {
    margin-bottom: 21px;

    order: -1;
  }
  @media #{$min-width-desktop} {
    position: absolute;
    top: 0;
    left: 0;

    width: 680px;
  }
}

.process__wrapper-inner .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  transition: all .3s linear;
}

.process__video {
  background: $grey;
  @media #{$min-width-tablet} {
    width: 100%;
    height: 455px;
  }
}

.process__description {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 35px;

  color: $text-secondary;

  @include font(13px, 24px);
  @media #{$min-width-tablet} {
    margin: 0;
    margin-bottom: 31px;
    padding: 3px 40px;

    @include font(15px, 30px);
  }
  @media #{$min-width-desktop} {
    width: 365px;
    margin-bottom: 43px;
    padding-top: 0;
    padding-left: 80px;
  }
}

.process__wrapper-inner:hover .icon--play {
  transform: scale(1.2);
}

.process__wrapper-inner:active .icon--play {
  transform: scale(.8);

  opacity: .3;
}
