.textarea {
  font-family: $font;

  width: 100%;
  min-height: 142px;
  padding: 15px;

  color: $text-secondary;
  border: 2px solid $primary-color;
  @media #{$min-width-tablet} {
    font-size: 19px;
  }
  &::placeholder {
    opacity: 1;
    color: $secondary-color-30;
  }
  &:invalid {
    border-color: $invalid-color;
  }
  &:hover {
    border-color: $aqua;
  }
  &:focus {
    color: $text-secondary;
    border-color: $aqua;
    outline: none;
  }
}
