.user {
  font-style: normal;

  display: block;

  margin-bottom: 29px;
  @media #{$min-width-tablet} {
    width: 50%;
    margin-bottom: 0;
  }
}

.user__name {
  font-weight: bold;

  display: block;

  margin-bottom: 3px;

  @include font(18px, 24px);
  @media #{$min-width-tablet} {
    font-size: 17px;
  }
}

.user__link {
  text-decoration: none;

  color: $text-secondary;

  @include font(18px, 30px);
  @media #{$min-width-tablet} {
    font-size: 17px;
  }
}
