.user-list {
  font-weight: bold;

  background: $white;

  @include font(17px, 24px);
  @media #{$min-width-tablet} {
    display: flex;
  }
}

.user-list__link {
  position: relative;

  display: block;

  padding: 25px 30px 29px 75px;

  text-decoration: none;

  color: $text-primary;
  border-bottom: 1px solid $light-grey;
  @media #{$min-width-tablet} {
    border-bottom: none;
    &.user-list__link--search {
      font-size: 0;

      width: 84px;
      margin: 0;
      padding: 30px 0;

      border-right: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
    }
    &.user-list__link--basket {
      width: 265px;
      margin: 0;
      padding: 30px 0;
      padding-left: 65px;

      text-align: right;
    }
  }
  &:hover {
    color: $primary-color-60;
  }
  &:active {
    color: $primary-color-30;
  }
}

.user-list__link .icon {
  position: absolute;
  top: 50%;
  left: 32px;

  transform: translateY(-50%);

  opacity: .2;
  &:hover {
    opacity: 1;
    color: $aqua;
  }
  &:active {
    opacity: .3;
  }
}

.user-list__link:hover .icon {
  opacity: 1;
  color: $aqua;
}

.user-list__link:active .icon {
  opacity: .3;
}
